@model FianlGUI.Models.FatTrack
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1 class="display-4" >Health Information Form:</h1>
<form name="FatTrack" method="post" asp-action="HealthForm">
    <div class="form-group">
        <label asp-for="FirstN">First Name:</label>
        <input class="form-control" asp-for="FirstN" id="FirstN" placeholder="First Name" />
        <label asp-for="LastN">Last Name:</label>
        <input class="form-control" asp-for="LastN" id="LastN" placeholder="Last Name" />
        <label asp-for="Email">Email:</label>
        <input class="form-control" asp-for="Email" id="email" placeholder="Email" />
        <label asp-for="StartingW">Starting Weight (in Lbs.):</label>
        <input class="form-control" asp-for="StartingW" id="StartingW" placeholder="0" min="15" max="1000" />
        <label asp-for="DesiredW">Goal Weight (in Lbs.):</label>
        <input class="form-control" asp-for="DesiredW" placeholder="Desired Weight" id="DesiredW" min="15" max="1000" />
        <label asp-for="HeightInches">Height (in In.):</label>
        <input class="form-control" asp-for="HeightInches" id="HeightInches" min="12" max="96" />
        <br />
        <label asp-for="Gender">Gender:</label>
        
        <input class="form-control" asp-for="Gender" id="Gender" placeholder="Gender" />

        <br />

        <label for="activityLevelField">Activity Level:</label>

        <label asp-for="ActivityLevel">Pick an activity level:</label>
        <select asp-for="ActivityLevel" class="form-control">
            <option value="">Pick One</option>
            @foreach (var pow2 in ViewBag.ActivityLevel)
            {
                <option value="@pow2.Value">@pow2.Text</option>
            }
        </select>
        <br />
        <div class="form-group">
            <label asp-for="Birthday">Date of Birth:</label>
            <input asp-for="Birthday" class="form-control" placeholder="xx/xx/xxxx" />
            <!--<span class="alert-danger" asp-validation-for="Birthday"></span>-->

        </div>

    </div>
    <button class="btn btn-primary" type="submit">Submit Info</button>
</form>

