@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We will never share your data without your prior permissions. We use e-mail info for updates only. User info is stored in a secure database location. Food lookup is handled through the USDA's FoodData Central API. Contact Info@fattrak.net for any complaints or suggestions.</p>
<style>
    p{
        background-color:red;
        color:white;
    }
</style>